<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Headless App의 서비스에 접근하기 위한 쿼리 -->
    <queries>
        <package android:name="com.example.headlessapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_info_details"
        android:label="WiFi Info UI"
        android:supportsRtl="true"
        android:theme="@style/Theme.WifiInfoUI">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
